*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* common style */
.container{
    max-width: 1200px;
    margin: auto;
}

.common-btn{
    background-color: #fd6e0a;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.uncommon-btn{
    background-color: #fcf8f6;
    padding: 10px 18px;
    margin: 0px 0px 0px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color:  #fd6e0a;
    border: 1px solid  #fd6e0a;
    cursor: pointer;
}

.uncommon-btn:hover{
    background-color: #fd6e0a;
    color: white;
}

header{
    background-color: #fff8f3;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.logo{
    font-weight: bold;
    font-size: 35px;
}
.logo-r{
    color: #fd6e0a;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
    

}
ul li a{
    text-decoration: none;
    color: #757575;
    font-size: 20px;
    margin-right: 20px;
    
}


/* hiro section style */
.hiro-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parent-root{
    background-color: #fcf8f6;
}